/* GENERAL */
body {
    color: rgb(38, 46, 58);
    background: #1F2232;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
}

.envelope {
    border-radius: 1.2rem;
}
.container {
    background-color: #D7DAE5;
    margin: 20px auto;
    padding: 5px 0px;
    max-width: 1000px;
    min-width: 220px;
    font-size: clamp(12px, 5vw, 18px);
}

/* HEADER */
header {
    padding: 0px;
    margin-bottom: 120px;
}

header img {
    width: 120px;
    border: 3px solid rgb(56, 145, 167);
    border-left: none;
    border-bottom-right-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    margin: 0px 10px 0px -15px;
    float: left;
}

header img:hover, header img:active {
    border: 3px solid #58d5f5;
    border-left: none;
}

.intro {
    background-color: #3891a7;
    padding: 15px;
    color: #D7DAE5;
    margin: 20px;
    margin-right: 0px;
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    text-align: left;
    box-shadow: 2px 2px 3px black;
}

.intro p {
    line-height: 1.5rem;
}

.contact {
    padding: 10px 15px;
    float: right;
    background-color: #D7DAE5;
    color: #3891a7;
    text-align: right;
    margin-right: -15px;
    margin-left: auto;
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    border: 3px solid #3891a7;
    border-right: none;
    box-shadow: 2px 2px 3px black;
}

.contact p {
    margin: 0px;
}

.contact p a {
    color: #3891a7;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: clamp(1.75rem, 10vw, 3.5rem);
    text-shadow: 2px 2px 3px black;
    text-align: left;
    color: #F7F06D;
    margin: 10px 0px 20px 0px;
    border-bottom: 2px solid #D7DAE5;
}

h2 {
    font-family:  'Comfortaa', cursive;
    font-size: clamp(20px, 7vw, 28px);
    margin: 0;
    color: #1F2232;
}

/* MAIN */

main {
    margin: 10px;
}
main section {
    border-bottom-left-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;

}

ul {
    padding-inline-start: 0px;
    list-style-type: none;
    margin-top: 0px;
}

li {
    margin: 5px -15px;
}

.lang ul li {
    margin: 5px 20px;
}

button {
    background-color: #3891a7;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    margin: 5px 5px;
    padding: 5px 15px;
    display: inline-block;
    font-size: clamp(12px, 4vw, 18px);
    -webkit-transition: background-color 0.5s ease-out, box-shadow 0.2s ease-out;
    -moz-transition: background-color 0.5s ease-out, box-shadow 0.2s ease-out;
    -o-transition: background-color 0.5s ease-out, box-shadow 0.2s ease-out;
    transition: background-color 0.5s ease-out, box-shadow 0.2s ease-out;
    box-shadow: 3px 3px 4px black;
}

button.link {
    color: #D7DAE5;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: clamp(12px, 5vw, 18px);
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
    -webkit-transition: background-color 0.5s ease-out, box-shadow 0.2s ease-out, color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out, box-shadow 0.2s ease-out, color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out, box-shadow 0.2s ease-out, color 0.5s ease-out;
    transition: background-color 0.5s ease-out, box-shadow 0.2s ease-out, color 0.5s ease-out;
}

button:hover, button:active {
    background-color: #B5FFE1;
    color: black;
}

.skillLevel {
    border-bottom: 2px solid #D7DAE5;
    max-width: 150px;
    color: rgb(137, 225, 247);
    margin-bottom: 20px;
}

.skillLevel img {
    width: clamp(20px, 30vw, 120px);
}


/* MISC */

.note {
    font-size: 12px;
    color: rgb(173, 173, 173);
    margin-top: 15px;
}

.detailsBox {
    display: none;
    background-color: #1F2232;
    color: #D7DAE5;
    padding: 30px;
    border-radius: 15px;
    margin: 10px 20px;
    margin-top: -5px;
    box-shadow: 2px 2px 3px black;
}


.skills .detailsBox, .certification .detailsBox {
    margin: 10px;
    margin-top: 5px;
}

.icon {
    width: clamp(35px, 10vw, 50px);
    margin-top: 5px;
}



/* RESPONSIVE */

@media screen and (min-width: 900px) {
    h1 {
        font-size: 4rem;
        text-align: left;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 170px;
        gap: 10px;
        padding: 15px;
        padding-right: 0;
        text-align: center; 
    }
    
    header img {
        width: 150px;
        border: 3px solid rgb(56, 145, 167);
        margin: 20px; 
        grid-column: 1;
        grid-row: 1;
    }
    
    header p {
        display: inline;
    }
    
    header img:hover, header img:active {
        border: 3px solid #F7F06D;
    }
    
    .intro {
        background-color: #3891a7;
        /* border: 1px solid #001d3dff; */
        padding: 20px 20px;
        color: #D7DAE5;
        border-bottom: none;
        margin-right: 0px;
        border-top-left-radius: 1.2rem;
        border-bottom-left-radius: 1.2rem;
        grid-column: 2;
        grid-row: 1/3;
    }
}
