/* CSS HEX
--lime: #c3f73aff;
--gunmetal: #1b2530ff;
--charcoal: #2e4052ff;
--alice-blue: #dcedffff;
--carrot-orange: #f18f01ff;
/*

/* GENERAL */
body {
    color: #EFF7FF;
    background: #DCEDFF;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    margin: 0px;
}

.envelope {
    border-radius: 1.2rem;
}
.container {
    background-color: #1b2530;
    margin: 0px auto;
    padding: 5px 0px;
    max-width: 1130px;
    min-width: 220px;
    font-size: clamp(15px, 2.5vw, 19px);
    letter-spacing: 0.1ch;
}

/* HEADER */
header {
    padding: 0px;
    margin-bottom: 120px;
}

header img {
    width: 7em;
    border: 3px solid #2E4052;
    border-left: none;
    border-bottom-right-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    margin: 0px 10px 0px -15px;
    float: left;
}

.intro {
    background-color: #2E4052;
    padding: 15px;
    color: #DCEDFF;
    letter-spacing: 0.05ch;
    margin: 20px;
    margin-right: 0px;
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    text-align: left;
    box-shadow: 2px 2px 3px black;
}

.intro p {
    line-height: 1.5rem;
}

.contact {
    padding: 10px 15px;
    float: right;
    background-color: #c2f73b;
    color: #1b2530;
    text-align: right;
    margin-left: auto;
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    border: 3px solid #2E4052;
    border-right: none;
    box-shadow: 2px 2px 3px black;
    position: relative;
    bottom: 50px;
}

.contact p {
    margin: 0px;
}

.contact p a {
    color: #1b2530;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 2.3em;
    text-shadow: 2px 2px 3px black;
    text-align: left;
    color: #F18F01;
    margin: 10px 0px 20px 0px;
    border-bottom: 2px solid #DCEDFF;
}

h2 {
    font-family:  'Comfortaa', cursive;
    font-size: 1.6em;
    margin: 0;
    color: #DCEDFF;
}

/* MAIN */

main {
    margin: 10px;
}
section {
    border-bottom-left-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 3.5rem;

}

.main_list {
    padding-inline-start: 0px;
    list-style-type: none;
    margin-top: 0px;
}


button {
    background-color: #2E4052;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    letter-spacing: 0.1ch;
    color: #c2f73b;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    margin: 10px 10px;
    padding: 5px 15px;
    display: inline-block;
    -webkit-transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
    transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
    box-shadow: 3px 3px 4px black;
}

button.link {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -10px;
    /* font-size: clamp(12px, 5vw, 18px); */
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
    -webkit-transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
    transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
    box-shadow: 0px 3px 4px black;
}



.skillLevel {
    border-bottom: 2px solid #F18F01;
    max-width: 150px;
    color: #F18F01;
    margin-bottom: 20px;
}

.skillLevel img {
    width: clamp(77px, 20vw, 95px);
}


/* MISC */

.large_screen {
    display: none;
}

.note {
    font-size: 0.8em;
    color: rgb(173, 173, 173);
    margin-top: 15px;
}

.detailsBox {
    display: none;
    padding: 20px 35px;
    margin: 5px;
    border: 2px solid #2E4052;
    box-shadow: 2px 2px 3px black;
    font-size: 0.9em;
    line-height: 1.3em;
}

.detailsBox ul {
    padding-inline-start: 15px;

}

.basicDetail {
    color: #F18F01;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: -0.8em;
    list-style-type:disc;
}

.detailsBox li {
    margin-bottom: 10px;
}

.certification .detailsBox, .skills .detailsBox{
    margin: 5px 0px;
}


.icon {
    width: clamp(30px, 5vw, 40px);
    margin-top: 5px;
}

/* AVOID SELECT BLUE RECTANGLE */
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}



/* RESPONSIVE */

@media screen and (min-width: 800px) {
    .large_screen{
        display: block;
    }

    section {
        margin-bottom: 1.5rem;
    }

    .sections {
        display: grid;
        text-align: left;
        grid-template-columns: 1fr 3.2fr;
        row-gap: 20px;
        column-gap: 20px;
    }

    header {
        margin-left: auto;
        margin-bottom: -60px;
        display: grid;
        grid-template-columns: 1fr 5fr;
    }

    header .intro {
        grid-row: 1/2;
        grid-column: 2;
        margin-left: 0px;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.5em;
    }

    header a {
        grid-row: 1;
        grid-column: 1;
        display: block;
    }

    header img {
        margin-right: -120px;
        margin-top: 0px;
        width: 7em;
        border: 3px solid #2E4052;
        border-radius: 1.2rem;
        display: inline;
        float: left;
        position: relative;
        right:212px;
    }

    .contact {
        font-size: 0.8em;
        text-align: center;
        margin: 10px;
        border: none;
        border-radius: 1.2rem;
        box-shadow: 2px 2px 3px black;
        grid-row: 2;
        grid-column: 1;
        position: relative;
        bottom: 102px;
    }

    .work_experience{
        grid-column: 2;
        grid-row: 1;
    }

    .certification{
        grid-column: 2;
        grid-row: 3;
    }
 
    .tech_skills{
        grid-column: 2;
        grid-row: 2;
    }

    .soft_skills{
        grid-column: 1;
        grid-row: 2;
    }

    .soft_skills .detailsBox {
        padding: 10px;
    }

    .lang{
        grid-column: 1;
        grid-row: 1;
    }

    .education{
        grid-column: 1;
        grid-row: 3;
    }

    .main_list li {
        display: inline;
    }

    .main_list li .detailsBox ul li{
        display: list-item;
    }

    button {
        font-size: 0.9em;
    }

    .tech_skills button {
        color: #DCEDFF;
    }

    button.link {
        border-radius: 10px;
        border: none;
        margin: 10px 10px;
        padding: 5px 15px;
        display: inline-block;
        -webkit-transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
        -moz-transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
        -o-transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
        transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
        box-shadow: 3px 3px 4px black;
    }

    p.large_screen {
        font-size: 0.8em;
        margin-top: 10px;
        margin-bottom: 5px;
        color: #DCEDFF;
    }

    img.large_screen {
        width: 50px;
        margin: 10px auto 5px auto;
    }

    .detailsBox {
        font-size: 0.8em;
        text-align: left;
        max-width: 500px;
    }
}

/* USE HOVER STYLES ONLY ON NON-TOUCH DEVICES */
@media (hover: hover) and (pointer: fine) {
    button:hover, button:active {
        background-color: #3f5870;
        box-shadow: 5px 5px 5px black;
    }
    
    button.link:hover {
        box-shadow: 0px 5px 5px black;
    }


  }